<app-header></app-header>
<main class="bg-light pt-2 pt-lg-4 mt-5">
    <div class="container p-2 mt-lg-5 pt-lg-5">
      <!-- Breadcrumb -->
      <app-breadcrumb [routes]="[{name:'Home',url:'/home'},{name:'Conatct Us',url:null}]" [pageTitle]="'Contact With Us'"></app-breadcrumb>
      
      <div class="container">
          <div class="card" style="max-width: 700px; margin: 10px auto;">
              <div class="card-header">
                  <h4>Send Your Query</h4> 
                  <p>Please enter your proper contact information for furthar communication</p>
              </div>
              <div class="card-body">
                <div class="alert alert-danger fade show" role="alert" *ngIf="isErrorMsg" style="margin-bottom:0;padding: 0.6rem 1rem;">
                  <small>{{isErrorMsg}} 
                   <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="padding: 1rem;"></button> -->
                 </small>
                 </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Full Name</label>c   
                      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your name" [(ngModel)]="name">
                    </div>
                    <div class="mb-3">
                      <label for="exampleFormControlInput2" class="form-label">Mobile Number</label>
                      <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Your contact number" [(ngModel)]="phone">
                    </div>
                    <div class="mb-3">
                      <label for="exampleFormControlInput3" class="form-label">Email Address</label>
                      <input type="text" class="form-control" id="exampleFormControlInput3" placeholder="Your email address" [(ngModel)]="email">
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="mb-3">
                      <label for="exampleFormControlTextarea4" class="form-label" placeholder="Enter your query here..">Your Query</label>
                      <textarea class="form-control" id="exampleFormControlTextarea4" rows="3" [(ngModel)]="message"></textarea>
                    </div>
                  </div>
                </div>
                <div class="d-grid gap-2">
                  <button class="btn btn-danger btn-sm btn-block" (click)="submit()">Send Your Message<i class="fas fa-angle-double-right mx-2"></i></button>
                </div>
              </div>
          </div>
      </div>
    </div>    
</main>      
<app-footer></app-footer>