  <!-- header section -->
  <header class="fixed-top">
    <div class="border-bottom bg-white">
      <!-- desktop header -->
      <div class="container header-destop">
        <!-- brands information -->
        <div class="header-destop-brand-info d-flex justify-content-between align-item-center">
          <div class="header-destop-brand-data d-flex justify-content-start">
            <div class="header-destop-brand-name px-lg-4 py-lg-1 p-2">
              <img src="./assets/img/skylight-removebg-preview.png" alt="logo" srcset="" class="d-none d-md-block">
              <h5 class="d-block d-md-none">SkyLight</h5>
            </div>
            <div
              class="header-destop-brand-email d-flex flex-column justify-content-start align-item-start px-lg-4 py-lg-1 border-start border-end d-none d-md-block">
              <small class="text-muted">Send us a message</small>
              <p class="mb-0">howladerelectronics@gmail.com</p>
            </div>
            <div
              class="header-destop-brand-phone d-flex flex-column justify-content-start align-items-start px-lg-4 py-lg-1  border-end d-none d-md-block">
              <small class="text-muted">Need help? Call us</small>
              <p class="mb-0">0123456789</p>
            </div>
          </div>
          <div class="header-destop-cart-side-nav">
            <div class="d-flex justify-content-end align-items-center px-lg-3 py-lg-3 p-2">
              <div class="mx-lg-3 mx-2 btn btn-sm btn-light position-relative">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-danger">
                  2
                  <span class="visually-hidden">msg</span>
                </span>
                <!-- <i class="fas fa-shopping-bag text-dark"></i> -->
                <img src="https://img.icons8.com/ios/50/000000/shopping-bag--v1.png" style="height: 25px;" />
              </div>
              <div class="mx-lg-2 btn btn-sm btn-light" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBackdropSideBar" aria-controls="offcanvasWithBackdropSideBar">
                <i class="fas fa-bars text-dark"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- bottom navigation -->
    <div class="d-none d-md-block border-bottom shadow-sm bg-white">
      <div class="container header-desktop-navigation d-flex flex-row justify-content-start align-items-center px-3">
        <div class="dropdown">
          <div
            class="btn btn-sm m-2 fw-bold text-uppercase all-categories-menus d-flex justify-content-between align-items-center dropdown-toggle"
            id="dropdownShopCategories" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="mr-2">Shop by Categories </span>
          </div>
          <ul class="dropdown-menu dropdown-menu-white" aria-labelledby="dropdownShopCategories">
            <li><a class="dropdown-item active" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </div>
        <!-- menus -->
        <div class="header-desktop-navigation-menu">
          <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </div>
        <div class="header-desktop-navigation-menu">
          <a routerLink="/products" routerLinkActive="active">Products</a>
        </div>
        <div class="header-desktop-navigation-menu">
          <a routerLink="/products" routerLinkActive="active">Offers</a>
        </div>
        <div class="header-desktop-navigation-menu">
          <a routerLink="/products" routerLinkActive="active">About us</a>
        </div>
        <div class="header-desktop-navigation-menu">
          <a routerLink="/products" routerLinkActive="active">Contact us</a>
        </div>
      </div>
    </div>
    <!-- mobile side bar -->
    <div class="offcanvas offcanvas-start mobile-sidebar" tabindex="-1" id="offcanvasWithBackdropSideBar"
      aria-labelledby="offcanvasWithBackdropSideBarLabel">
      <div class="offcanvas-header bg-light">
        <div class="d-flex justify-content-start align-items-center">
          <img src="./assets/img/skylight-removebg-preview.png" alt="logo" style="height: 40px;" class="border rounded">
          <small class="offcanvas-title fst-italic mx-2" id="offcanvasWithBackdropSideBarLabel">Welcome To <br> Howlader
            Electronics</small>
        </div>

        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="bg-danger py-2 px-3">
          <p class="m-0 fw-bold text-white">Main menus</p>
        </div>
        <div class="all-side-nav-menus">
          <a routerLink="/home">
            <div class="py-3 px-3 d-flex justify-content-between align-items-center border-bottom">
              <div class="text-muted all-side-nav-menus-text">
                <i class="fas fa-home mx-1 text-danger"></i> Home
              </div>
              <div class="text-muted all-side-nav-menus-text">
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
          </a>
          <a routerLink="/products">
            <div class="py-3 px-3 d-flex justify-content-between align-items-center border-bottom">
              <div class="text-muted all-side-nav-menus-text">
                <i class="fas fa-shopping-bag mx-1 text-danger"></i> Shops
              </div>
              <div class="text-muted all-side-nav-menus-text">
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
          </a>
          <div class="py-3 px-3 d-flex justify-content-between align-items-center border-bottom">
            <div class="text-muted all-side-nav-menus-text">
              <i class="far fa-building mx-1 text-danger"></i> About US
            </div>
            <div class="text-muted all-side-nav-menus-text">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
          <div class="py-3 px-3 d-flex justify-content-between align-items-center">
            <div class="text-muted all-side-nav-menus-text">
              <i class="fas fa-phone-volume mx-1 text-danger"></i> Contact Us
            </div>
            <div class="text-muted all-side-nav-menus-text">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>

      </div>
      <div class="mobile-sidebar-brand-info">
        <div class="d-flex justify-content-between align-items-center border-bottom border-top px-3 py-1">
          <div class="mobile-sidebar-brand-email d-flex flex-column justify-content-start px-1 py-1">
            <small class="text-muted fw-lighter">Send us a message</small>
            <p class="text-lead">howladerelectronics@gmail.com</p>
          </div>
          <div class="px-2 py-1 border rounded bg-light text-center">
            <i class="far fa-envelope text-primary"></i>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center border-bottom border-top px-3 py-1">
          <div class="mobile-sidebar-brand-email d-flex flex-column justify-content-start px-1 py-1">
            <small class="text-muted fw-lighter">Need help? call use</small>
            <p class="text-lead">012345678</p>
          </div>
          <div class="px-2 py-1 border rounded bg-light text-center">
            <i class="fas fa-mobile-alt text-success"></i>
          </div>
        </div>
      </div>
    </div>
  </header>
