#brands-slider{

    .card{
        margin: 3px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: transparent;
        background: transparent;
        img{
            height:50px;
            width: 120px;
        }
    }

}
