
<!-- Products -->
<div>
 <div class="container-lg py-3">
    <!-- nav section -->
    <div class="row">
        <div class="col-8">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-home-tab" #prodList data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><i class="far fa-list-alt mx-2"></i> All Products</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" #addProd data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" (click)="switchToAddSection()"><i class="fas fa-plus mx-2" ></i>Customize Products</button>
                </li>
              </ul>
        </div>
        <div class="col-4">
        <!-- counting -->
        <nav aria-label="..." *ngIf="!addProdPanel">
            <ul class="pagination pagination-sm justify-content-end">
                <li class="page-item active" aria-current="page">
                <span class="page-link">1-40</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">41-80</a></li>
                <li class="page-item"><a class="page-link" href="#">81-120</a></li>
            </ul>
            </nav>
        </div>
    </div>

        <div class="tab-content" id="pills-tabContent">
            <!-- all Products Panel -->
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div *ngIf="productsList.length > 0">
                 <div class="row border-bottom" *ngFor="let prod of productsList">
                     <div class="col-1">
                         <div>
                             <img [src]="prod?.image" [alt]="prod?.name" srcset="" style="height: 70px;">
                         </div>
                     </div>
                     <div class="col-6 p-2 text-align-left">
                       <h5>{{ prod?.name}}</h5>
                       <p class="m-0">Brand by {{prod?.brand}}</p>
                     </div>
                     <div class="col-3 p-2">
                        <p class="m-0">{{prod?.quantity}} unit/ {{prod?.price}} BDT</p>
                     </div>
                     <div class="col-2 text-align-right">
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button type="button" class="btn btn-warning" (click)="switchToAddSection()">Edit</button>
                            <button type="button" class="btn btn-danger">Delete</button>
                          </div>
                     </div>
                 </div>
                </div>
                <!-- if empty -->
                <div class="card" *ngIf="productsList.length == 0">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <h5>No Products Added Yet</h5>
                        <button class="btn btn-sm btn-success" (click)="switchToAddSection()">Add New Product</button>
                    </div>
                </div>
            </div>
            <!-- add and new Prodcust Panel -->
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="p-2">
                    <h5>Add New Product</h5>
                    <div class="alert alert-danger fade show" role="alert" *ngIf="isWrong" style="margin-bottom:0;padding: 0.6rem 1rem;">
                        <small> {{errMsg}}
                         <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="padding: 1rem;"></button> -->
                       </small>
                       </div>
                       <div class="alert alert-success fade show" role="alert" *ngIf="isUpdated" style="margin-bottom:0;padding: 0.6rem 1rem;">
                        <small> Product is Inserted Successfully
                         <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="padding: 1rem;"></button> -->
                       </small>
                       </div>   
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                      <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Product Name</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Product Name" [(ngModel)]="name">
                                      </div>
                                      <div class="mb-3">
                                        <label for="exampleFormControlInput2" class="form-label">Brand </label>
                                        <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Products Brand" [(ngModel)]="brand">
                                      </div>
                                      <div class="mb-3">
                                        <label for="exampleFormControlInput3" class="form-label">Category</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput3" placeholder="Category" [(ngModel)]="category">
                                      </div>
                                      <div class="mb-3">
                                        <label for="exampleFormControlInput4" class="form-label">Quantity</label>
                                        <input type="number" class="form-control" id="exampleFormControlInput4" placeholder="Product Unit" [(ngModel)]="quantity">
                                      </div>
                                      <div class="mb-3">
                                        <label for="exampleFormControlInput12" class="form-label">Product Price</label>
                                        <input type="number" class="form-control" id="exampleFormControlInput12" placeholder="Product Price" [(ngModel)]="price">
                                      </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput5" class="form-label">Description</label>
                                        <textarea type="text" class="form-control" id="exampleFormControlInput5" placeholder="description" [(ngModel)]="des">
                                      </textarea>  
                                    </div>
                                    <div class="mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" [(ngModel)]="featureCol">
                                        <label class="form-check-label" for="flexCheckDefault1">
                                           Add To Feature Section
                                        </label>
                                      </div>
                                     </div>
                                     <div class="mb-3"> 
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [(ngModel)]="latestCol">
                                        <label class="form-check-label" for="flexCheckChecked">
                                          Add To Latest Section
                                        </label>
                                      </div>
                                     </div> 
                                     <div class="mb-3"> 
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [(ngModel)]="offerCol">
                                          <label class="form-check-label" for="flexCheckChecked">
                                            Product Has Offer
                                          </label>
                                        </div>
                                       </div> 
                                      <div class="mb-3" *ngIf="offerCol">
                                        <label for="exampleFormControlInput11" class="form-label">Offer Price</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput11" placeholder="Category" [(ngModel)]="offerPrice">
                                      </div>
                                      <div class="mb-3">
                                        <label for="exampleFormControlInput11" class="form-label">Offer Price</label>
                                        <input type="file"
                                        class="form-control"
                                        id="file"
                                        #userPhoto
                                        (change)="onFileSelected($event)"
                                        name="image"
                                        autocomplete="off"
                                        >
                                      </div>
                                      <div class="mb-3" *ngIf="fb">
                                        Photo Uploaded
                                      </div>                               
                                      <div class="d-grid gap-2">
                                        <button class="btn btn-success" type="button" (click)="submitProd()">Submit Information</button>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
        </div>
    </div>

</div>