<app-header></app-header>
<main class="bg-light pt-2 pt-lg-4 mt-5">
    <div class="container p-2 mt-lg-5 pt-lg-5">
     <!-- ======== carousel ========= -->
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="./assets/img/1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="./assets/img/2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" al="3000">
            <img src="./assets/img/3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <div class="carousel-indicators d-none d-md-block">
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
      </div>

            <!-- ======== services ======== -->
            <div class="container shadow-sm">
                <div class="row mt-lg-4 mt-2 bg-white">
                  <div class="col-12 col-lg-4 col-md-6">
                    <div class="p-3">
                      <div class="row">
                        <div class="col-3">
                          <img style="height:65px" src="https://img.icons8.com/color/48/000000/cash-.png"
                            class="animate__animated animate__bounce animate__slow animate__infinite" />
                        </div>
                        <div class="col-9">
                          <p class="m-0 fw-bold h5">Cash On Delivery</p>
                          <small class="lead fs-6 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Reiciendis,
                            autem.</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-4 col-md-6">
                    <div class="p-3">
                      <div class="row">
                        <div class="col-3">
                          <img style="height:90px" src="https://img.icons8.com/color/48/000000/delivery--v2.png"
                            class="animate__animated animate__headShake animate__slower animate__infinite" />
                        </div>
                        <div class="col-9">
                          <p class="m-0 fw-bold h5">Free Delivery</p>
                          <small class="lead fs-6 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Reiciendis,
                            autem.</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-4 col-md-6">
                    <div class="p-3">
                      <div class="row">
                        <div class="col-3">
                          <img
                            src="https://img.icons8.com/external-wanicon-two-tone-wanicon/64/000000/external-service-cloud-technology-wanicon-two-tone-wanicon.png"
                            class="animate__animated animate__tada animate__slow animate__infinite" />
                        </div>
                        <div class="col-9">
                          <p class="m-0 fw-bold h5">24/7 Active service</p>
                          <small class="lead fs-6 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Reiciendis,
                            autem.</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


     <!-- =========== All Brands =========== -->
      <div class="px-3 py-4 mt-5 d-flex flex-column flex-md-row justify-content-between align-items-center">
        <div>
          <h3>Top Brands Collections</h3>
          <p class="text-muted">Get All Your Gadget and Favourite Brands Items</p>
        </div>
        <!-- <button class="btn btn-sm btn-danger">Visit More <i class="fas fa-arrow-right ml-2"></i></button> -->
      </div>
      <app-carousel [carouselID]="'brands-slider'"></app-carousel>


      <div class="px-3 py-4 mt-5 d-flex flex-column flex-md-row justify-content-between align-items-center">
        <div>
          <h3>Featured Products</h3>
          <p class="text-muted">Most viewd and sold products </p>
        </div>
        <button class="btn btn-sm btn-danger">Visit More <i class="fas fa-arrow-right ml-2"></i></button>
      </div>
      <!-- Products row -->
      <div class="container" id="brands">

        <div class="row my-3 bg-white">
          <!-- product 1 -->
          <div class="col-12 col-lg-4 col-md-6 mb-4 border-end">
            <div class="p-2 bg-white rounded">
              <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="product-image d-flex justify-content-center align-item-center">
                  <img src="https://logos-world.net/wp-content/uploads/2020/11/Hitachi-Logo.png" alt="" srcset=""
                    style="height:200px;">
                </div>
                <div class="product-info d-flex flex-column justify-content-start align-items-start">
                  <p class="m-0 text-muted">Sony Brand</p>
                </div>
              </div>
            </div>
          </div>
          <!-- product 2 -->
          <div class="col-12 col-lg-8 col-md-6 mb-4">
            <div class="row">
              <div class="col-6 col-lg-3 col-md-6 mb-2 border">
                <div class="p-2 bg-white">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="product-image d-flex justify-content-center align-item-center">
                      <img src="https://m.media-amazon.com/images/I/81cJ1kUT1LL._AC_SS450_.jpg" alt="" srcset=""
                        style="height:90px;">
                    </div>
                    <div class="product-info d-flex flex-column justify-content-start align-items-start">
                      <p class="m-0 text-muted">JBL Brand</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- product 3 -->
              <div class="col-6 col-lg-3 col-md-6 mb-2 border">
                <div class="p-2 bg-white">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="product-image d-flex justify-content-center align-item-center">
                      <img src="https://m.media-amazon.com/images/I/71ynIMjwgwL._SL1500_.jpg" alt="" srcset=""
                        style="height:90px;">
                    </div>
                    <div class="product-info d-flex flex-column justify-content-start align-items-start">
                      <p class="m-0 text-muted">JBL Brand</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- product 4 -->
              <div class="col-6 col-lg-3 col-md-6 mb-2 border">
                <div class="p-2 bg-white">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="product-image d-flex justify-content-center align-item-center">
                      <img src="https://m.media-amazon.com/images/I/41sGASjc4-L.jpg" alt="" srcset=""
                        style="height:90px;">
                    </div>
                    <div class="product-info d-flex flex-column justify-content-start align-items-start">
                      <p class="m-0 text-muted">Realme</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- product 5 -->
              <div class="col-6 col-lg-3 col-md-6 mb-2 border">
                <div class="p-2 bg-white">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="product-image d-flex justify-content-center align-item-center">
                      <img src="https://m.media-amazon.com/images/I/61K+5CdeHmL._SL1500_.jpg" alt="" srcset=""
                        style="height:90px;">
                    </div>
                    <div class="product-info d-flex flex-column justify-content-start align-items-start">
                      <p class="m-0 text-muted">Apple</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- product 6 -->
              <div class="col-6 col-lg-3 col-md-6 border">
                <div class="p-2 bg-white">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="product-image d-flex justify-content-center align-item-center">
                      <img src="https://m.media-amazon.com/images/I/61yeJbZkwmL._SL1500_.jpg" alt="" srcset=""
                        style="height:90px;">
                    </div>
                    <div class="product-info d-flex flex-column justify-content-start align-items-start">
                      <p class="m-0 text-muted">Mi</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- product 7 -->
              <div class="col-6 col-lg-3 col-md-6 border">
                <div class="p-2 bg-white">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="product-image d-flex justify-content-center align-item-center">
                      <img src="https://i.gadgets360cdn.com/products/large/redmi-note-10s-db-600x800-1620030866.jpg"
                        alt="" srcset="" style="height:90px;">
                    </div>
                    <div class="product-info d-flex flex-column justify-content-start align-items-start">
                      <p class="m-0 text-muted">Xiomi</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- product 8 -->
              <div class="col-6 col-lg-3 col-md-6 border">
                <div class="p-2 bg-white">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="product-image d-flex justify-content-center align-item-center">
                      <img src="https://m.media-amazon.com/images/I/71geVdy6-OS._SX569_.jpg" alt="" srcset=""
                        style="height:90px;">
                    </div>
                    <div class="product-info d-flex flex-column justify-content-start align-items-start">
                      <p class="m-0 text-muted">OPPO</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- ================== -->
     </div>
</main>        