<app-header></app-header>
<main class="bg-light pt-5 pt-lg-4 mt-5">
  <div class="container p-2 mt-lg-5 pt-lg-5">
    <!-- ======== carousel ========= -->
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <img src="./assets/img/1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="./assets/img/2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" al="3000">
          <img src="./assets/img/3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <div class="carousel-indicators d-none d-md-block">
        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
    </div>

    <!-- ======== services ======== -->
    <div class="container shadow-sm">
      <div class="row mt-lg-4 mt-2 bg-white">
        <div class="col-6 col-lg-4 col-md-6 border">
          <div class="p-3">
            <div class="row">
              <div class="col-12 col-md-3">
                <img style="height:65px" src="https://img.icons8.com/color/48/000000/cash-.png"
                  class="animate__animated animate__bounce animate__slow animate__infinite" />
              </div>
              <div class="col-12 col-md-9">
                <p class="m-0 fw-bold h5">Cash On Delivery</p>
                <small class="lead fs-6 text-muted">And 100% money back guarantee</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-4 col-md-6 border">
          <div class="p-3">
            <div class="row">
              <div class="col-12 col-md-3">
                <img style="height:70px" src="https://img.icons8.com/color/48/000000/delivery--v2.png"
                  class="animate__animated animate__headShake animate__slower animate__infinite" />
              </div>
              <div class="col-12 col-md-9">
                <p class="m-0 fw-bold h5">Free Delivery</p>
                <small class="lead fs-6 text-muted">Free shipping on orders over 10000 BDT</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 border">
          <div class="p-3">
            <div class="row">
              <div class="col-3">
                <img
                  src="https://img.icons8.com/external-wanicon-two-tone-wanicon/64/000000/external-service-cloud-technology-wanicon-two-tone-wanicon.png"
                  class="animate__animated animate__tada animate__slow animate__infinite" />
              </div>
              <div class="col-9">
                <p class="m-0 fw-bold h5">24/7 Active service</p>
                <small class="lead fs-6 text-muted">Online support for nay query </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- =========== All Brands =========== -->
    <div class="px-3 py-4 mt-5 d-flex flex-column flex-md-row justify-content-between align-items-center">
      <div>
        <h3 class="fw-bolder">Top Brands Collections</h3>
        <p class="text-muted">Get All Your Gadget and Favourite Brands Items</p>
      </div>
      <!-- <button class="btn btn-sm btn-danger">Visit More <i class="fas fa-arrow-right ml-2"></i></button> -->
    </div>
    <app-carousel [showBrandsSlider]="true" [carouselId]="'brands-slider'"></app-carousel>
    <br><br>
    <!-- ================== -->
  </div>
</main>


<section class="bg-white pt-2 pt-lg-4">
  <div class="container pt-2">
    <div class="px-3 py-1 mt-5 d-flex flex-column flex-md-row justify-content-between align-items-center">
      <div>
        <h3 class="fw-bolder">Featured Products<h3 class="fw-bolder text-danger">With Best Collection</h3></h3>
        <p class="text-muted">Most viewd and sold products </p>
      </div>
      <button class="btn btn-sm btn-danger" (click)="goToProductsPage()">Visit More <i class="fas fa-arrow-right ml-2"></i></button>
    </div>
    <div class="divider"></div>

    <div class="row my-5 px-4 py-2">
      <div *ngFor="let product of featuredProducts" class="col-12 col-lg-3 col-md-6">
        <app-single-product [product]="product" [showButton]="false" (prodDetails)="prodDetails($event)"></app-single-product>
      </div>
    </div>

    <br>
    <!-- banner -->
    <div class="d-none d-md-block">
      <div class="row bg-dark">
        <div class="col-2">
          <img src="./../../../assets/img/All-makes-removebg-preview.png" alt="" srcset="" style="height: 90px;">
        </div>
        <div class="col-8 text-white text-align-left">
          <br>
          <h5>Get All Home and shop decore products</h5>
          <p>Every products contains 20% discout and other combo offers</p>
        </div>
        <div class="col-2 pt-4">
          <button class="btn btn-light btn-sm" (click)="goToProductsPage()">Visit More <i class="fas fa-arrow-right ml-2"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-white pt-2 pt-lg-4">
  <div class="container p-2">
    <div class="px-3 py-4 mt-5 d-flex flex-column flex-md-row justify-content-between align-items-center">
      <div>
        <h3 class="fw-bolder">Latest Products <h3 class="text-secondary fw-bolder">Top Brands Products </h3></h3>
        <p class="text-muted">Most viewd and sold products </p>
      </div>
      <button class="btn btn-sm btn-danger" (click)="goToProductsPage()">Visit More <i class="fas fa-arrow-right ml-2"></i></button>
    </div>
    <app-carousel [showProductSlider]="true" [carouselId]="'features-slider'" (prodDetailsE)="prodDetails($event)"></app-carousel>
  </div>
</section>
<section class="bg-light pt-2 pt-lg-4" id="offer">
  <div class="container p-2">
    <div class="px-3 py-1 mt-5 d-flex flex-column flex-md-row justify-content-between align-items-center">
      <div>
        <h3 class="fw-bolder">Offer Products <h3 class="fw-bolder text-danger">UPTO 20%</h3></h3>
        <p class="text-muted">Most viewd and sold products </p>
      </div>
      <button class="btn btn-sm btn-danger" (click)="goToProductsPage()">Visit More <i class="fas fa-arrow-right ml-2"></i></button>
    </div>
    <div class="divider"></div>
    <br> <br>
    <app-carousel [showProductSlider]="true" [carouselId]="'features-slider'" (prodDetailsE)="prodDetails($event)" [offer]="true"></app-carousel>
  </div>
</section>
<div class="offcanvas offcanvas-end" style="border-top-left-radius: 20px !important;"  tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div *ngIf="selectedProd">
    <app-product-details [product]="selectedProd"></app-product-details>
  </div>
</div>
<app-footer></app-footer>