<div class="container">
  <div class="p-2">
    <div class="row">
      <div class="col-12 col-lg-6 mb-2">
        <div class="card">
          <div class="card-header">
            Add new banner
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label for="exampleFormControlInput11" class="form-label">Upload Banner Image</label>
              <input type="file" class="form-control" id="file" #userPhoto (change)="onFileSelected($event)"
                name="image" autocomplete="off">
            </div>
            <div class="mb-3" *ngIf="fb">
              Photo Uploaded
              <img [src]="fb" alt="" srcset="" style="height: 100px;" class="image-fluid">
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-success" type="button" (click)="submitBrand()">Submit Information</button>
            </div>

          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="card py-2 px-2" *ngFor="let banner of allBanner;let i =index">
          <div>
            <h5>Banner {{i+1}}</h5>
          </div>
          <div class="my-2">
            <img [src]="banner" alt="" srcset="" class="image-fluid" style="height: 100px;">
          </div>
          <div>
            <button class="btn btn-sm btn-danger" (click)="deleteBrand(banner)"><i class="fas fa-trash-alt mx-1"></i>
              Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>