@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
/* You can add global styles to this file, and also import other style files */
.footer-section {
    background-image: linear-gradient(to top left, #1a2e61 50%, #111e40 0) !important;
  }

  a,
  a:visited,
  a:hover {
    color: inherit !important;
    text-decoration: none !important;
  }    